@model MobiiliAlytalo.Models.Sauna

@{
    ViewBag.Title = "Delete";
}

<h2>Poista sauna käytöstä</h2>


<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SaunaNimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaunaNimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaunaNykyLampotila)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaunaNykyLampotila)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaunaON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaunaON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaunaOFF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaunaOFF)
        </dd>

    </dl>
    <h3>Haluatko varmasti poistaa saunan?</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default" /> |
            @Html.ActionLink("Takaisin", "Index")
        </div>
    }
</div>
