@model IEnumerable<MobiiliAlytalo.ViewModel.SaunaViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>SAUNA</h2>

<p>
    @Html.ActionLink("Luo uusi sauna", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SaunaNimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaunaNykyLampotila)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaunaON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaunaOFF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SaunaNimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaunaNykyLampotila)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaunaON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaunaOFF)
        </td>
        <td>
            @Html.ActionLink("ONOFF", "Edit", new { id=item.SaunaID }) |
            @Html.ActionLink("Poista sauna", "Delete", new { id=item.SaunaID })
        </td>
    </tr>
}

</table>
